:root {
    --primary: #010001;
    --secondary: #60daf9;
    --bg-light: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container { display: flex; align-items: center; gap: 10px; }

nav a {
    color: #bdc3c7;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a.active {
    color: white;
    border-bottom: 2px solid var(--secondary);
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    width: 95%;
    box-sizing: border-box;
    color: #333;
}

footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}